.choice-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  text-align: center;
  width: 25%;
}

.choice-card:hover {
  transform: scale(1.02);
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
}

.segment-text {
  color: #fff;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .choice-card {
    width: 82%;
    margin: 10px 5px;
  }
}