.home-page {
  background: url("./skyscraper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-app-title {
  color: #000;
  font-size: 8rem;
}

.search-input-group {
  width: 50%;
}

.search-input {
  padding: 20px;
}

.search-input:focus + .home-app-title {
  /* some sweet CSS */
  color: #fff;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .home-page {
    height: 100vh;
  }

  .home-app-title {
    color: #000;
    font-size: 5rem;
  }

  .search-input-group {
    width: 80%;
  }
}
