.signup {
  background: url("./city-background.jpeg");
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.signup-card {
  width: 50%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.app-title {
  font-size: 8rem;
}

.app-tagline {
  font-size: 2rem;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #000;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .signup-card {
    width: 80%;
  }

  .app-title {
    font-size: 5rem;
  }
}
