.signup {
  background-image: ulr("https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.app-title {
  font-size: 8rem;
}

.app-tagline {
  font-size: 2rem;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #000;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .signup-card {
    width: 80%;
  }

  .app-title {
    font-size: 6rem;
  }
}