.itinerary-card {
  width: 50%;
  margin: 25px 0 0 0;
}

.itinerary-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itinerary-item:hover {
  background: #4885ed;
  color: #fff;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .itinerary-card {
    width: 80%;
  }
}
